
    <div class="content">
        <div class="row row-content">
            <div class="col-xs-6">        
                <h1>Profilo piu votato</h1>
                <h3>Hai gia risposto alle domande, il tuo profilo e'</h3>

            </div>

            <div class="col-xs-6">        
                <div class="row row-content">
                    <h1> Statistiche superiori</h1>
                </div>

                <div class="row row-content">
                     <h1> Statistiche inferiori</h1>
                </div>
            </div>
        </div>
    </div>


